body {
    font-size: 24px;
}

h1 {
    font-size: 24px;
    padding-left: 25px;
    border-left: 15px solid #a260bf;
    border-bottom: 2px solid #a260bf;
}

input {
    font-size: 100%;
}

table {
    border: 2px #808080 solid;
    border-collapse: collapse;
    padding: 5px;
	width: 80%;
}

table th {
    background: #efefef;
	border: 1px solid #DDD;
}

table td {
    padding-left: 10px;
	border: 1px solid #DDD;
	width: 80%;
}

img.normal {
    width: 720px;
    height: 480px;
}